{%extends './base.html'%}

{%block titulo%}
    Administración
{%endblock%}

{%block cabecera%}
    <meta name="productos" content="{{productos}}">
{%endblock%}

{%block atributosBody%}
    class="cuerpoCatalogo"
{%endblock%}

{%block cuerpo%}
        <div class="col-10 container mt-3 bg-body shadow rounded border border-5">
            <h1 class="text-center text-dark">FLORA: Administrar Productos</h1>
        </div>

    <div class="row">
        <div class="col-sm-8 container shadow p-3 mb-5 rounded border border-5 bg-body">
            <h2 class="text-center text-dark">Administración</h2>
            <br>
            <form id="formulario">
                <div class="form-outline mb-4">
                    <label class="form-label" for="id">ID:</label>
                    <input type="text" id="id" name="id" class="form-control border-1 border-black">
                </div>
                <div class="form-outline">
                    <label class="form-label" for="name">Nombre:</label>
                    <input type="text" id="name" name="name" class="form-control border-1 border-black">
                </div>
                <div class="form-outline">
                    <label class="form-label" for="price">Precio:</label>
                    <input type="number" id="price" name="price" class="form-control border-1 border-black">
                </div>
                <div class="form-outline">
                    <label class="form-label" for="image">Imagen:</label>
                    <input type="text" id="image" name="image" class="form-control border-1 border-black">
                </div>
                <br>
                <button type="button" class="btn btn-success bg-gradient mt-3">Agregar</button>
                <div class="alert alert-danger mt-3" id="mensajeError"></div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='JS/scriptAdminProducts.js') }}"></script>
{%endblock%}