{%extends './base.html'%}

{%block titulo%}
    Acerca de
{%endblock%}

{%block atributosBody%}
    class="cuerpoInfo"
{%endblock%}

{%block cuerpo%}

    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5 bg-body border border-5 rounded mb-3">
                <h3 class="text-dark h3 text-center pt-4">Sobre FLORA</h3>
                <br><br>
                <p class="text-dark fs-5">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere bibendum tellus non suscipit. Sed fringilla posuere odio ac ultricies.
                </p>
                <hr>
                <p class="text-dark fs-5 pb-4">Mauris lacus nisl, condimentum eget mi in, viverra ornare tortor. Vestibulum non luctus dui. Nullam tempor tristique tellus, eget ornare enim.</p>
                <hr>
                <img class="img-fluid img-thumbnail mb-3" src="../../static/img/puesto.jpg">
            </div>
            <div class="col-1"></div>
            <div class="col-4 ">
                <div class="row">
                    <div class="col-12 bg-body border border-5 rounded mb-3">
                        <h3 class="h3 text-dark text-center pt-4"> Sobre desarrollo</h3>
                    <br><br>
                    <p class="text-dark fs-5">
                        Vestibulum facilisis facilisis ligula, vel hendrerit augue commodo eget. Donec non tellus eget sem facilisis imperdiet.
                    </p>
                    <hr>
                    <p class="text-dark fs-5">
                        Cras dignissim magna quis lacus volutpat tempus. Suspendisse efficitur neque eget pulvinar viverra. Vivamus condimentum malesuada vulputate. Vestibulum mattis cursus dictum.
                    </p>
                    </div>
                </div>
            </div>
        </div>
{%endblock%}