{%extends './base.html'%}

{%block titulo%}
    Login
{%endblock%}

{%block atributosBody%}
    class="inicioSesion"
{%endblock%}

{%block cuerpo%}

    <form class="formularioInicioSesion position-absolute top-50 start-50 translate-middle p-3 mb-5 border-2 border-black rounded bg-light bg-opacity-75 p-5" action="/login" method="POST">
        <!-- Nombre de usuario -->
        <div class="form-outline mb-4">
            <label class="form-label" for="user">Usuario</label>
            <input type="text" id="user" name="username" class="form-control border-2 border-black" />
        </div>
        <!-- Contraseña -->
        <div class="form-outline mb-4">
            <label class="form-label" for="pass">Contraseña</label>
            <input type="password" id="pass" name="password" class="form-control border-2 border-black" />
        </div>
        <!-- Botón -->
        <button type="submit" class="btn btn-dark btn-block mb-4">Enviar</button>

        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <p class="alert alert-danger">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </form>

{%endblock%}