{% extends './base.html'%}
{%block titulo%}
    Tienda
{%endblock%}

{%block cabecera%}
    <meta name="jsonProductos" content="{{jsonProductos}}">
{%endblock%}

{%block atributosBody%}
    class="cuerpoTienda"
{%endblock%}

{%block cuerpo%}

    <!-- Cuerpo de la tienda -->
    <div class="container my-5 bg-body shadow rounded border border-5">
        <h1 class="text-center text-dark">FLORA: Catálogo</h1>
    </div>

    <div class="container my-5 bg-body shadow rounded border border-5 text-center contenedor">
        <button class="btn btn-primary my-3 px-5" id="btncalculadora">Calculadora</button>
            <!--CUERPO DE CALCULADORA-->
            <div class="calculator mx-auto my-3">
                <div class="display">
                </div>
                <div class="buttons">
                    <!-- Botones de la calculadora -->
                    <button>C</button>
                    <button>/</button>
                    <button>*</button>
                    <button>-</button>
                    <button>7</button>
                    <button>8</button>
                    <button>9</button>
                    <button class="suma">+</button>
                    <button>4</button>
                    <button>5</button>
                    <button>6</button>
                    <button class="vacio">0</button>
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button class="igual">=</button>
                </div>
            </div>
    </div>

    <!-- Contenedor del resumen de compras -->
    <div class="container my-5">
        <div class="row">
            <div class="col-12 shadow p-3 rounded border border-5 text-dark bg-body text-center">
                <h3>Resumen de Compra</h3>
                <div class="table-responsive">
                    <table class="table text-dark">
                        <thead>
                            <tr>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Subtotal</th>
                            </tr>
                        </thead>
                        <tbody class="text-center" id="resumenCompra">
                            <!-- Cuerpo del resumen de la compra -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="text-end">Total:</td>
                                <td id="total"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <button type="button" class="btn btn-primary" id="finalizarCompra">Comprar</button>
            </div>
        </div>
    </div>

    <!-- Contenedor de catálogo -->
    <div class="container">
        <div class="row">
            <div class="col-12 shadow p-3 mb-5 rounded border border-5 bg-body" id="catalogoCard">
                
                <!-- Generar de forma dinámica el catálogo de la tienda  -->
                {% if productos %}
                {% for producto in productos %}
                <div class="col-md-3 mb-4">
                    <div class="card text-dark rounded">
                        <img src="{{producto.get('productImage')}}" class="card-img-top imgArticulo" alt="Producto {{producto.get('productId')}}">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.get('productName')}}</h5>
                            <p class="card-text">Precio: ${{producto.get('productPrice')}}
                            <br>
                            Cantidad: <input type="number" class="cantidad" id="cantidadProducto{{producto.get('productId')}}">
                            </p>
                            <br>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary agregar" id="button{{producto.get('productId')}}">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
                
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='JS/scriptCalculator.js') }}"></script>
    <script src="{{ url_for('static', filename='JS/scriptStore.js') }}"></script>

{%endblock%}